[Unit]
Description=Podman container-${MC_CONT_NAME}
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-${MC_CONT_NAME}.pid %t/container-${MC_CONT_NAME}.ctr-id
ExecStart=/usr/bin/podman run \
          --detach \
          --name ${MC_CONT_NAME} \
          --conmon-pidfile %t/container-${MC_CONT_NAME}.pid \
          --cidfile %t/container-${MC_CONT_NAME}.ctr-id \
          --sdnotify=conmon \
          --cgroups=no-conmon \
          --rm \
          --replace \
          --volume /etc/minecraft/survival2/config:/bedrock-server/config:Z \
          --volume /etc/minecraft/survival2/worlds:/bedrock-server/worlds:Z \
          --publish ${MC_PORT}:${MC_PORT}/udp \
          --label "io.containers.autoupdate=registry" \
          ${MC_IMAGE_NAME}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-${MC_CONT_NAME}.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-${MC_CONT_NAME}.ctr-id
PIDFile=%t/container-${MC_CONT_NAME}.pid
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target default.target

